@import "../../common/less/common.less";

page {
  position: relative;
  background-color: #fff;
  height: auto;
  padding-bottom: 96rpx;
}

.cover-page {
  padding: 20rpx 30rpx;
  font-weight: bold;

  .title {
    width: 100%;
    .medium-font();
    color: @greyColor;
  }

  .show-box {
    margin: 30rpx 0;
    display: flex;
    height: 120rpx;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .article-title {
    margin-top: 30rpx;
    .big-font();
    width: 100%;
    text-align: center;
  }

  .article-desc {
    width: 100%;
    text-align: center;
    .medium-font();
    line-height: 70rpx;
    overflow: hidden;
  }

  .article-desc-limit {
    max-height: 490rpx;
  }

  .spread-button {
    display: block;
    margin-top: 10rpx;
  }
}

.popup-page {
  padding: 20rpx 30rpx;
  font-weight: bold;

  .popup-title {
    width: 100%;
    .big-font();
    color: @blackColor;
  }

  .popup-desc {
    width: 100%;
    .medium-font();
    color: @greyColor;
    margin: 30rpx 0;
  }
}

.container {
  position: relative;
  background-color: #ffffff;
  height: auto;
  padding: 20rpx 30rpx;
  // padding-bottom: 16rpx;

  .title-box {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .head-icon {
      width: 300rpx;
      height: 300rpx;
      display: block;
    }

    .title {
      font-size: 40rpx;
    }

    .desc {
      display: flex;
      margin: 20rpx 0;
      color: #727986;
      font-size: 26rpx;
    }
  }

  .line-box {
    width: 100%;
    margin-top: 20rpx;
  }
}
